p {
    margin-bottom: 0;
}

.GroupItem:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.GroupItem {
    padding: 15px 5px;
}

.GroupSubheader {
    display: block;
    color: rgb(175, 175, 175);
    font-size: 1.28rem;
}

.GroupSvg {
    float: left;
    padding-top: 15px;
}