.PageHeader {
    border-bottom: none;
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: normal;
}

.PullRight {
    float: right;
    padding-top: 10px;
    font-weight: lighter;
    font-size: 1.2rem;
}

.h1, h1 {
    font-size: 2.5rem;
    font-weight: normal;
}